<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<dataConfiguration defaultDatabase="DB_SHIP-NPR" />
	<connectionStrings>
		<add name="DB_SHIP-NPR" connectionString="user id=dbshipnpr;data source=38.118.83.41;persist security info=True;initial catalog=dev-shipnpr;password=cHeJa4A4uBr5;Timeout=600"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>