<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GoogleApiKey" value="ABQIAAAAy77V5zxfAPvZICl9hazJuxRCtOmoG0mv5lU9K8ElaaNJKrtS9hTFEwxW74_K2M7g0UzZQgH5djmmrw" />
		<add key="PasswordMinLength" value="4"/>
		<add key="PasswordMaxLength" value="15"/>
		<add key="OverrideEmail" value="temp_pmundayattu@air.org"/>
	</appSettings>
	
</configuration>